<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Music Room</title>
		<meta name="description" content="Music Room">
		<meta name="author" content="Sean O'Neil">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body onload="init()">
		<script src="javascripts/client.js"></script>
		<table class="maintable">
			<tr>
				<td colspan="3">
					<h1>Music Room</h1>
					<h3 id="songname"></h3>
				</td>
			</tr>
			<tr>
				<td id="queuebox" width="25%">
					<h3>Current DJ: <span id="djcurr">None</span></h3>
					<h4 style="text-align: left;">Next up:</h4>
					<ol class="djlist">
						<li class="djlistitem" id="dj0"></li>
						<li class="djlistitem" id="dj1"></li>
						<li class="djlistitem" id="dj2"></li>
						<li class="djlistitem" id="dj3"></li>
						<li class="djlistitem" id="dj4"></li>
						<li class="djlistitem" id="dj5"></li>
						<li class="djlistitem" id="dj6"></li>
						<li class="djlistitem" id="dj7"></li>
						<li class="djlistitem" id="dj8"></li>
						<li class="djlistitem" id="dj9"></li>
					</ol>
					<br>
					<h4 style="text-align: left;">Newcomers:</h4>
					<ol class="djlist">
						<li class="djlistitem" id="new0"></li>
						<li class="djlistitem" id="new1"></li>
						<li class="djlistitem" id="new2"></li>
					</ol>
					<h4>Temporary Song</h4>
					<p>Enter a URL to add a temporary song:</p>
					<input id="tempsongid" type="text" name="tempsongid" maxlength="50">
					<button id="addbutton" onclick="add()">Submit</button>
					<p class="responseOff" id="responsetemp">&nbsp;</p>
					<button onclick="voteSkip()">Vote to Skip</button>
				</td>
				<td id="videobox" width="50%">
					<div id="playerdiv" class="iframeWrapperBig" onclick="togglePause()">
						<iframe id="player" width="800px" height="600px" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</td>
				<td id="playlistbox" width="25%">
					<h3>Playlist</h3>
					<div id="playlistdiv">
						<ol id="playlist">
							<!--
							<li class="playlistitem">
								<div id="list0" class="activeSong">Test Song</div>
								<button title="Delete" class="del" id="del0" onclick="remove(0)">X</button>
								<button title="Move to Top" class="toTop" id="toTop0" onclick="moveToTop(0)">&#8607;</button>
								<button title="Move Up" class="up" id="up0" onclick="moveUp(0)">&#8593;</button>
								<button title="Move Down" class="down" id="down0" onclick="moveDown(0)">&#8595;</button>
								<button title="Move to Bottom" class="toBottom" id="toBottom0" onclick="moveToBottom(0)">&#8609;</button>
							</li>
							<hr>
							-->
						</ol>
					</div>
					<button id="toggleplaylist" onclick="togglePlaylist()">Activate</button>
					<br>
					<h4>Add to Playlist</h4>
					<!--<p>Enter an ID to add to your list:</p>-->
					<input id="songid" type="text" name="songid" maxlength="1199">
					<button id="listaddbutton" onclick="listAdd()">Submit</button>
					<p class="responseOff" id="response">&nbsp;</p>
					<button onclick="savePlaylist()">Save Playlist</button><!--<button onclick="loadPlaylist()">Load Playlist</button>-->
				</td>
			</tr>
			<tr>
				<td colspan="3">
                    <p><b>Users:</b> <span id="users"></span></p>
				</td>
			</tr>
		</table>
		<h5>Bugs</h5>
		<ul>
			<li>Temporary songs only allow you to play one song, so if you a second temporary song before your temporary song plays, the new one will overwrite it (not exactly a bug, because that was how temporary songs were meant to be used)</li>
			<li>Title of video does not show on mobile</li>
			<li>Subtitles/annotations/quality/more videos can only be accessed in fullscreen mode</li>
			<li>Clicking the unpause button in the corner will not resume to live timing, only clicking the middle of the video will</li>
			<li>Mobile version now seems to work, but requires clicking the video twice at the start of each video, and does not synchronize properly</li>
			<li>Mobile version special characters for playlist rearrangements are a tad small</li>
			<li>Next up undefined can happen, at which point everything is broken I guess (maybe fixed?)</li>
		</ul>
	</body>
</html>
